# ignore mac os .DS_Store files
.DS_Store

#  ignore all .txt files in the root directory, except CMakeLists.txt

/*.txt*
# /CMakeLists.txt.user

#ignore temp matlab files
/matlab/*.m~

!/CMakeLists.txt


#  ignore the build and run directory in the root directory
/build/
/run/

#  ignore Chipmunk dir
/Chipmunk*/

#  ignore chipmunk build dirs:
/lib/
/obj_c99/

#  ignore histogram directory 
/histogram-develop/

#  ignore generated fencs .h files (from ffc, which compiles the .ufl files)
#  this should always be done on the local machine 
/fenics/*.h

